apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: youtube-music-sync
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/krishnarajt/youtube-music-sync
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: youtube-music-sync
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
